<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.hsHelper">

    <application
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="ru.hsHelper.androidApp.ui.initial.InitialActivity"
            android:label="@string/initial_activity_title"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.hsHelper.androidApp.ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".androidApp.ui.navigation.NavigationActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
    </application>

</manifest>